@{
    ViewData["Title"] = "ZeroRubbish";
}
@section styles{
    @*<link rel="Stylesheet" href="@Href("~/Content/MyStyles.css")" />*@
    <style>
    </style>

}

<div class="row">
    <ol class="breadcrumb transparent">
        <li class="breadcrumb-item"><a href="~/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item active">Shop</li>
    </ol>
</div>

<h1>shop</h1>