@{
    ViewData["Title"] = "INTRODUCTION";
}
@section styles{

    <style>
        .TeamTitle {
            padding: 30px;
            color: white;
            background: #67c79d;
            border-radius: 10px;
        }
        #INTRODUCTION_IMG {
            margin:0;
            padding:0;

        }

    </style>

}


    <div class="row">
        <ol class="breadcrumb transparent">
            <li class="breadcrumb-item"><a href="~/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item active">About</li>
            <li class="breadcrumb-item active">Introduction</li>
        </ol>
    </div>

    <div class="col-lg-12">
        <h3 class="text-center TeamTitle z-depth-1"><b>Introduction</b></h3><br />
        <div class="col-lg-12" id="INTRODUCTION_IMG">
            <img class="img-fluid z-depth-1" src="~/images/about/introduction/Introduction.jpg" alt="ABOUT US" />
        </div>
        <br />
        <p>South Alive is an urban rejuvenation project, led by the community, with the goal of identifying the best possible future for South Invercargill and ways to make it happen.</p>
        <p>It was established in 2012 with a small steering group, which then held a public meeting in April 2012 to generate ideas and decide priorities. Action teams of volunteers formed around each of the priority areas, and have been working since then to develop and implement projects.</p>
        <p>South Alive became a charitable trust in 2013 under its legal name, the South Invercargill Urban Rejuvenation Charitable Trust.</p>
        <br /><h5><b>The group has identified its vision as:</b></h5>
        <p>A vibrant and diverse community that takes the lead in its own future</p>
        <br /><h5><b>And it's mission as:</b></h5>
        <p>Empowered by our strengths as a community, we will build a place to live and work thatengenders pride and inspires us</p>
    </div>
