
@section styles{
    <style>
        div.manage {
            border:1px solid black;
            margin:20px;
            padding:20px;
        }
    </style>
}

<h1>Admin Page</h1>

<hr />

<div class="manage">
    <h3>Product</h3>
    <ul>
        <li><a href="/ProductCategories">Product Categories</a></li>
        <li><a href="/Products">Product</a></li>
    </ul>
    
    


</div>

<div class="manage">
    <h3>Recipe</h3>
    <ul>
        <li><a href="/Recipes">Recipe</a></li>
    </ul>
</div>